.sidebar {
  width: 160px;
  float:left;
  margin-left: 6px;
}

body {
  background-color: #f6f6f6;
}

.mainPage {
  float:right;
  width:85%;
  background-color: white;

}

img.sideBar {
  display: block;
  width: 10em;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
  margin-bottom: 24px;
}

.container {
  margin-left: 0px;
  padding-left: 8px;
}

.sideBarText {
  padding-left: 8px;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 6px;
}

p.sidebarTextTitle {
  display:block;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 19px;
  padding-left: 8px;
  margin-bottom: 3px;
}

.sidebarList {
  list-style: none none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 13.5px;
}

hr {
  margin-top: 0px;
  margin-bottom:9px;
  border: 0;
  border-top: 1px solid lightgrey;
  padding-left: 0;
  margin-left: 12px;
}

.topLinks {
  text-align: right;
  font-size: 13.5px;
  font-family: sans-serif;
}

.Tabs {
  display: block;
  height: 1.9em;
  padding-left: 0.615em;
  padding-right: 0.615em;
  color: #0645ad;
  font-size: 13px;
}

#bannercolor {
  background-color: #f6f6f6;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  margin: 18px;
}

.headerBanner {
  font-size: 22.68px;
  font-family: sans-serif;;
  margin: 30px;
  line-height: 1.9;
}

.middleBanner {
  font-size: 13.3px;
  font-family: sans-serif;
  line-height: 1.6;
  margin: 18px;
}

.lowerBanner {
  font-size: 11.9px;
  font-family: sans-serif;
  line-height: 1.6;
  margin: 71px;
}

.bannerList {
  margin: 15px 0px;
  line-height: 1.6;
  font-size: 13.3px;
  font-family: sans-serif;
  color: #0645ad;
}

a:link {
  color: #0645ad;
}

.IanSmithPic {
  width: 100px;
  height: 130px;
  float: left;
  margin-right: 10px;
}

.coin {
  width: 115px;
  height: 120px;
  float:right;
  margin-left: 10px;
}
